.about-container {
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.about {
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    justify-content: center;
}

.about-img, .about-text {
    flex-basis: 50%;
}

.about-img img {
    max-width: 100%;
    border-radius: 50%;
    max-height: 300px;
}

.about-text {
    text-align: center;
}

.about-social img {
    max-width: 45px;
    padding: 10px;
    cursor: pointer;
}

.about-social img:hover {
    background-color: rgba(0, 0, 0, 0.151);
}

.copyrights {
    color: white;
    background-color: #ff7f00;
}

.main-footer {
    margin-top: auto;
}

@media (min-width: 740px) {
    .about {
        flex-direction: row;
    }
    .about-text {
        text-align: left;
    }
}