.about {
    gap: 20px;
    padding: 10px 0;
    flex-direction: column;
}

.about .about-img {
    flex-basis: 25%;
}

.about .about-text {
    flex-basis: 25%;
    text-align: center;
}

.about .about-img img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}

.copyrights {
    color: white;
    background-color: #ff7f00;
}

@media (min-width: 740px) {
    .about {
        flex-direction: row;
    }
    .about .about-text {
        text-align: left;
    }
}