.gallery-container>img, .saved-memes-container>img {
    cursor: pointer;
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}

.gallery-container {
    background-color: #E3E3E3;
}

.gallery-container, .saved-memes-container {
    gap: 10px;
}

@media (min-width: 740px) {
    .gallery-container>img, .saved-memes-container>img {
        max-width: 250px;
        max-height: 250px;
    }
}