.gallery-container>img, .saved-memes-container>img {
    cursor: pointer;
    width: 150px;
    height: 150px;
}

@media (min-width: 740px) {
    .gallery-container>img, .saved-memes-container>img {
        width: 250px;
        height: 250px;
    }
}