* {
    font-family: 'Montserrat-Regular', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, body {
    margin: 0;
    padding: 0;
}

/* Page display */

body:not(.page-gallery) .gallery-container {
    display: none;
}

body:not(.page-gallery) .header-panel {
    display: none;
}

body:not(.page-gallery) .about-container {
    display: none;
}

body:not(.page-meme) .meme-container {
    display: none;
}

body:not(.page-saved-memes) .saved-memes-container {
    display: none;
}

/*  */

.main-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}

button {
    border: none;
    background-color: #ff7f00;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    transition: background-color 0.4s;
    background-color: tomato;
}

.main-content {
    background-color: #E3E3E3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.toast {
    max-width: 300px;
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
    background-color: rgba(165, 70, 7, 0.603);
    color: white;
}

body *:not(.img-info) {
    animation: fade-in 0.3s;
}

@keyframes fade-in {
    0% {
        opacity: 79%;
    }
    100% {
        opacity: 100%;
    }
}