.header-top {
  color: white;
}

.logo-header {
  font-size: 1rem;
  cursor: pointer;
}

.main-header {
  background-color: #ff7f00;
}

.navbar .nav-item {
  padding: 30px 8px;
  border-radius: 0;
}

.navbar .nav-item a {
  text-decoration: none;
  color: white;
}

.navbar .nav-item.clicked {
  color: black;
}

.header-panel {
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  gap: 20px;
}

.search-bar {
  border-bottom: 1px solid black;
}

.search-bar input {
  width: 16rem;
  border: none;
  color: #7A7A7A;
  font-size: 1rem;
}

.search-bar input:focus {
  outline: none;
}

.search-bar img {
  width: 1rem;
}

.tags-container .tag:hover {
  cursor: pointer;
  color: tomato;
  transition: color 0.4s;
}

@media (min-width: 740px) {
  .navbar .nav-item {
    padding: 30px 16px;
  }
  .logo-header {
    font-size: 1.5rem;
  }
  .header-panel {
    flex-direction: row;
  }
}