.meme-container {
    margin: 0 auto;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 40px;
}

.canvas-container {
    align-self: center;
    width: 350px;
}

.meme-canvas {
    border: 1px solid black;
}

.meme-controls {
    flex-direction: column;
    text-align: center;
    padding: 0;
}

.meme-btn {
    background-color: white;
    border-radius: 0.5em;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}

.meme-btn img {
    width: 100%;
}

.meme-btn-stroke-color, .meme-btn-fill-color {
    position: relative;
}

.meme-btn-stroke-color input, .meme-btn-fill-color input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

input.meme-txt {
    width: 375px;
    height: 3rem;
    font-size: 1rem;
}

select.meme-font-family {
    height: 3rem;
    font-size: 1rem;
}

.share-button {
    padding: 10px 16px;
}

.controls-category {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 850px) {
    .canvas-container {
        width: 450px;
    }
    .meme-container {
        flex-direction: row;
        width: 100vw;
    }
    .meme-btn {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1100px) {
    .canvas-container {
        width: 600px;
    }
}