@import url('fonts.css');
@import url('general.css');
@import url('helpers.css');
@import url('header.css');
@import url('panel.css');
@import url('gallery.css');
@import url('saved-memes.css');
@import url('meme.css');
@import url('footer.css');